.delete-icon-style {
    cursor: pointer;
    color: red;
}

.edit-icon-style {
    cursor: pointer;
    color: purple;
}
::ng-deep {
    .p-paginator {
        justify-content: end !important;
        align-items: end !important;
    }
}
::ng-deep {
    .p-datatable-striped {
        border: 1px solid #dedede;
    }
    .p-datatable-thead > tr > th {
    background-color: lightgray; /* Optional: Change text color to improve readability */
}
    .p-datatable tr:hover {
        background-color: transparent; /* Remove background color on hover */
        cursor: default; /* Change cursor to default */
      }
    .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
      background: #e9ecef !important;
    }
    
    // .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover > tr:nth-child(even) {
    //     background: #e9ecef !important;
    // }
  }