
.number-field {
    display: flex;border: 1px solid #dedede;width: 400px;padding: 8px;
    border-radius: 5px;
}
.expiry-field {
    border: 1px solid #dedede;
    width: 200px;
    padding: 8px;
    border-radius: 5px;
}