<div class="container">
    <!-- <div class="form">
    <form #userDetailes="ngForm" id="form">
            <h3 class="headings">Summit Logistics Group Customer Packet</h3>
            <h3 class="headings">Credit and Billing Information</h3>
    <div class="inputs">
        <div class="col">
        Customer Name:  <input
        type="text"
        required
        #username="ngModel"
        class="p-inputtext-sm"
        name="username"
        [(ngModel)]="userDetaile.name"/>
        Yrs. In Business:  <input
        type="text"
        required
        #business="ngModel"
        class="p-inputtext-sm"
        name="business"
        [(ngModel)]="userDetaile.business"/>
        </div>
        <div class="col">
            Phyical Address: <input
                type="text"
                name="address"
                required
                #address="ngModel"
                class="p-inputtext-sm"
                [(ngModel)]="userDetaile.address"/>
            City/State/Zip: <input required type="text" name="city" [(ngModel)]="userDetaile.city"/>
        </div>
        <div class="col">
            Phone: <input type="number" required #number="ngModel" name="number" [(ngModel)]="userDetaile.phonenumber">
            Fax: <input type="text" required name="fax" #fax="ngModel" [(ngModel)]="userDetaile.fax" id="">
            D&B Number: <input required type="number" #dbnumber="ngModel" name="dbnumber" [(ngModel)]="userDetaile.dbnumber" id="">
        </div>
        <div class="col">
            Max Load Volume: <input required type="number" #maxLoad="ngModel" name="maxLoad" [(ngModel)]="userDetaile.maxload" />
            Credit Requested: <input required type="text" #credits="ngModel" class="input-payment" name="credits" [(ngModel)]="userDetaile.credits" />
            Payment Terms: <input required type="text" #payment="ngModel" class="input-payment" name="payment" [(ngModel)]="userDetaile.payment" />
        </div>
        <div class="col">
            Billing Information:
        </div>
        <div class="col">
            A/P Contact: <input required type="text" #contact="ngModel" name="contact" [(ngModel)]="userDetaile.contact" />
            Email: <input required type="email" #email="ngModel" name="email" [(ngModel)]="userDetaile.email" />
        </div>
        <div class="col">
            Billng Address: <input required type="text" #billadress="ngModel" name="billaddress" [(ngModel)]="userDetaile.billaddress" />
            City/state/Zip: <input required type="text" #billcity="ngModel" name="billcity" [(ngModel)]="userDetaile.billcity" />
        </div>
        <div class="col">
            Phone: <input required type="number" #billphone="ngModel" name="billphone" [(ngModel)]="userDetaile.billphone" />
            Fax: <input required type="text" #billfax="ngModel" name="billfax" [(ngModel)]="userDetaile.billfax" />
        </div>  
    </div>
        <div class="options">
        <div class="col">
            Please Check one for each answer:
            Do you pay upon delivery of load? <input type="checkbox" #option1="ngModel" name="option1" [(ngModel)]="userDetaile.option1" >
        </div>
        <div class="col">
            Do you require EDI Transmission? <input type="checkbox" #option2="ngModel" name="option2" [(ngModel)]="userDetaile.option2" id="">
        </div>
        <div class="col">
            How would you prefer your invoices? <input type="checkbox" name="emailcheck" [(ngModel)]="userDetaile.emailcheck" id="">Email <input type="checkbox" name="faxcheck" [(ngModel)]="userDetaile.faxcheck" id="">Fax
        </div>
        <div class="col">
            Do you require your PO # on your invoice?<input type="checkbox" #option3="ngModel" name="option3" [(ngModel)]="userDetaile.option3" id="">
        </div>
        <div class="col">
            Do you require a copy of your Rate con with the Freight Bill? <input type="checkbox" #option4="ngModel" name="option4" [(ngModel)]="userDetaile.option4" id="">
        </div>
        <div class="col">
            Are your loads pallet exchange? <input type="checkbox" #option5="ngModel" name="option5" [(ngModel)]="userDetaile.option5" id="">
        </div>
        <div class="col">
            Does your company pay for Lumpers? <input type="checkbox" name="option6" #option6="ngModel" [(ngModel)]="userDetaile.option6" id="">
        </div>
        </div>
        <div class="signature">
            <div class="col">
                <div class="inputs">
                <input type="text" name="" id="" /><br/>
                <span class="label">Signature</span>
                </div>
                <div class="inputs">
                <input type="date" name="date" #date="ngModel" [(ngModel)]="userDetaile.date" id="" required/><br/>
                <span class="label">Date</span>
                </div>
                <div class="inputs">
                <input type="text" name="mainname" #mainname="ngModel" [(ngModel)]="userDetaile.mainname" id=""/><br/>
                <span class="label">Printed Name</span>
                </div>
            </div>
        </div>
        <div class="buttons">
            
            <button pButton (click)="submit2()" type="submit" id="buttons">Submit</button>
            
        </div>
    </form>
    </div> -->
    <!-- <button (click)="editPdf()"></button> -->
</div>
